<log4net debug="true">
 
 
     <logger name="MonitoringLogger">
	      <level value="DEBUG"/>
		  <!--<appender-ref value="rollingFile"/> A delete later-->
		  
		  <appender-ref ref="DataBaseAppender"/>
		  <appender-ref ref="EventLogAppender"/>
		  
	 </logger>
	  
	 <logger name="ExceptionLogger">
	    <level value="ERROR"/>
		<appender-ref ref="rollingFile"/>
		<appender-ref ref="smtpAppender"/>
		<appender-ref ref="DataBaseAppender"/>
	 </logger>

   <!--A1 est un ConsoleAppender-->
 
   <appender name="A1" type="log4net.Appender.ConsoleAppender">      
	   <layout type="log4net.Layout.PatternLayout">
	        <!--<conversionPattern value="%-4timestamp [%thread] %-5level %logger %ndc - %message%newline" />-->
			<conversionPattern value="%username %identity %line %method %location"/>
	   </layout>
   </appender>
  
   
   <!--Dès que le fichier atteindra 100KB, un nouveau fichier example.log sera créé et 
   l'ancien sera automatiquement renommé en example.log.1.-->
   <appender name="rollingFile" type="log4net.Appender.RollingFileAppender">
        <file value="example.log"/>
		<appendToFile value="true"/>
		<maximumFileSize value="100KB"/>
		<maxSizeRollBackups value="2"/>
		<layout type="log4net.Layout.PatternLayout">
		      <!--<conversionPattern value="%level %thread %logger - %message%newline" />-->
			  <conversionPattern value="%newlineAlerte: %level %newlineDATE: %date{dd/MM/yyyy HH:mm}  Autheur: %username %newlinePeriodeFacturation: %property{PeriodeFacturation} %newlineType Traitement : %property{TypeTraitement} %newlineMode Execution: %property{ExecutionMode}   %newline%message"/>
		</layout>
   </appender>
   
   
   <appender name="DataBaseAppender" type="log4net.Appender.AdoNetAppender">
      <bufferSize value="1"/>
      <threshold value="DEBUG"/> 
      
      <connectionType value="System.Data.SqlClient.SqlConnection, System.Data, Version=1.0.3300.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
      <!--<connectionString value="Data Source=GSW0183\GSW0183_R2222;Initial Catalog=Support;persist security info=True;User ID=sa;Password=P@ssw0rd"/>-->
      <!-- <connectionString value="Data Source=10.109.240.220;Initial Catalog=ACE_NODE;persist security info=True;User ID=GESADB;Password=GESA"/>-->
	  <connectionString value="Data Source=GSEW02634;Initial Catalog=ACE_NODE_IN2;persist security info=True;User ID=sa;Password=P@ssw0rd"/>
      <commandText value="INSERT INTO [dbo].[LogBDD] ([DateExecution],[Auteur],[Niveau],[Message],[TotalRead_fromAce],[TotalInserted_toNode],[TotalRead_fromNode],[TotalInserted_toAce],[TotalUpdated_toAce],[ExecutionMode],[TypeTraitement],[PeriodeFacturation],[ExecutionID],[CptExecution]) VALUES(@DateExecution,@Auteur,@Niveau,@Message,@TotalRead_fromAce,@TotalInserted_toNode, @TotalRead_fromNode, @TotalInserted_toAce, @TotalUpdated_toAce, @ExecutionMode, @TypeTraitement,@PeriodeFacturation, @ExecutionID, @CptExecution)"/>
        
      <parameter>
          <parameterName value="@DateExecution"/>
           <dbType value="DateTime"/>
           <size value="255"/>
 
        <layout type="log4net.Layout.RawTimeStampLayout"/>
      </parameter>
    
     <parameter>
          <parameterName value="@Auteur"/>
           <dbType value="AnsiString"/>
           <size value="100"/>
        <layout type="log4net.Layout.PatternLayout">
            <conversionPattern value="%username" />
        </layout>
      </parameter>
      
     <parameter>
          <parameterName value="@Niveau"/>
           <dbType value="AnsiString"/>
           <size value="100"/>
        <layout type="log4net.Layout.PatternLayout">
          <conversionPattern value="%level" />
           
        </layout>
      </parameter>
    
     <parameter>
          <parameterName value="@Message"/>
           <dbType value="AnsiString"/>
           <size value="500"/>
        <layout type="log4net.Layout.PatternLayout">
            <conversionPattern value="%message" />
        </layout>
      </parameter>
	  
	  <parameter>
          <parameterName value="@TotalRead_fromAce"/>
           <dbType value="Int32"/>           
        <layout type="log4net.Layout.PatternLayout">
            <conversionPattern value="%property{TotalRead_fromAce}" />
        </layout>
      </parameter>
	  
	  <parameter>
          <parameterName value="@TotalInserted_toNode"/>
           <dbType value="Int64"/>           
        <layout type="log4net.Layout.PatternLayout">
            <conversionPattern value="%property{TotalInserted_toNode}" />
        </layout>
      </parameter>
	  
	  <parameter>
          <parameterName value="@TotalRead_fromNode"/>
           <dbType value="Int64"/>            
        <layout type="log4net.Layout.PatternLayout">
            <conversionPattern value="%property{TotalRead_fromNode}" />
        </layout>
      </parameter>
	  
	  <parameter>
          <parameterName value="@TotalInserted_toAce"/>
           <dbType value="Int64"/>            
        <layout type="log4net.Layout.PatternLayout">
            <conversionPattern value="%property{TotalInserted_toAce}" />
        </layout>
      </parameter>
	  
	  <parameter>
          <parameterName value="@TotalUpdated_toAce"/>
           <dbType value="Int64"/>            
        <layout type="log4net.Layout.PatternLayout">
            <conversionPattern value="%property{TotalUpdated_toAce}" />
        </layout>
      </parameter>
	  
	  <parameter>
          <parameterName value="@ExecutionMode"/>
           <dbType value="String"/>
           <size value="50"/>
        <layout type="log4net.Layout.PatternLayout">
            <conversionPattern value="%property{ExecutionMode}" />
        </layout>
      </parameter>
	  
	   <parameter>
          <parameterName value="@TypeTraitement"/>
           <dbType value="String"/>
           <size value="500"/>
        <layout type="log4net.Layout.PatternLayout">
            <conversionPattern value="%property{TypeTraitement}" />
        </layout>
      </parameter>
	  
	  <parameter>
          <parameterName value="@PeriodeFacturation"/>
           <dbType value="String"/>   
           <size value="10"/>		   
        <layout type="log4net.Layout.PatternLayout">
            <conversionPattern value="%property{PeriodeFacturation}" />
        </layout>
      </parameter>
	  
	   <parameter>
          <parameterName value="@ExecutionID"/>
           <dbType value="String"/>   
           <size value="36"/>		   
        <layout type="log4net.Layout.PatternLayout">
            <conversionPattern value="%property{ExecutionID}" />
        </layout>
      </parameter>
	  
	    <parameter>
          <parameterName value="@CptExecution"/>
           <dbType value="Int32"/>             		   
        <layout type="log4net.Layout.PatternLayout">
            <conversionPattern value="%property{CptExecution}" />
        </layout>
      </parameter>
	  
   
    </appender>
	
   <appender name="EventLogAppender" type="log4net.Appender.EventLogAppender">
      <applicationName value="Log4net.FCO.ApiExt"/>
        <filter type="log4net.Filter.LevelRangeFilter">
            <levelMin value="DEBUG" />
            <levelMax value="INFO" />
          </filter>
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="[%level] %date %logger -%message"/>
      </layout>
    </appender>

  <appender name="smtpAppender" type="log4net.Appender.SmtpAppender">
      <to value="cyyao@cie.ci"/>
      <from value="adminDDI@cie.ci"/>
      <subject value="Notification  Interface SAPHIR - ACE VISION"/>
      <smtpHost value="mail.univers.ci"/>
      <bufferSize value="1"/>
      <!--<lossy value="true"/>-->
      <!--<evaluator type="log4net.Core.LevelEvaluator,log4net">-->

      <!--Optionnel. La valeur doit être l'un des niveaux de log. La valeur par défaut est ALL. Modifier la valeur pour limiter les messages qui sont loggés 
      dans l'application sans tenir compte du logger qui log le message.-->
      <threshold value="ERROR"/>

      <!--</evaluator>-->
      <layout type="log4net.Layout.PatternLayout,log4net">
        <!--<conversionPattern value="LEVEL: %level %newlineDATE: %date  LOGGER: %logger %newline%newline%message"/>-->
        <!--<conversionPattern value="%n%n%d{yyyy-MM-dd HH:mm:ss} %5p %10u %m   LEVEL: %level %newlineDATE: %date  LOGGER: %logger %newline%newline%message" />-->
         <conversionPattern value="%newlineAlerte: %level %newlineDATE: %date{dd/MM/yyyy HH:mm}  Autheur: %username %newlinePeriodeFacturation: %property{PeriodeFacturation} %newlineTypeTraitement : %property{TypeTraitement} %newlineModeExecution: %property{ExecutionMode}  %newline%message %newline%newline%property{FooterMail}%newline%newline" />
      </layout>
    </appender>
 
 
 
 
   
</log4net>