@{
    ViewBag.Title = "About";
}

<hgroup class="title">
    @*<h1>@ViewBag.Title.</h1>*@
    <h2>@ViewBag.Message</h2>
</hgroup>

<article>
    <p>
        <b>Version @ViewBag.Version</b>
    </p>

    <p>
        Tous droits reservés 2015- GS2E-DDI API SAPHIR-ACE VISION
    </p>
</article>

 